/*


THEME COLORS:
red #B30838
black #15191E
text #D4D6D6
*/


/* HEADER */
body{
	font-size:17px;
	color:#15191E;
	font-family:'Roboto',sans-serif;
}

p {margin-bottom:25px;}

.topbar {
	background-color:#B30838;
	color:#FFFFFF;
}
.topbar > div > div{
	padding:6px 0;
	text-transform:uppercase
}

.logo-wrap {
	padding:20px 0;
}
.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor:pointer;
	float:left;
}
.navbar-toggle .icon-bar {
	background-color:#333;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	margin-top:4px;
}
nav.main-nav {
	margin-bottom:10px;
	display:none;
}




/* CONTENT */
h2 {
	color:#B30838;
	text-align:center;
	font-weight:400;
	margin:0;
	margin-bottom:20px;
}
section.arrowed{
	position:relative;
}
section.arrowed:before {
	display:block;
	content:" ";
	position:absolute;
	height:50px;
	background:url(../images/arrow-red.png) no-repeat center top;
	background-size:100% auto;
	width:50px;
	left:calc(50% - 25px);
	top:-22px;
}

section.content {
	padding: 40px 0;
	background-color:#D3D6D6;
	margin:8px 0;
}

hr.redline {display:block;max-width:75px;margin:20px auto;clear:both;border-top:solid 2px #B30838;}
hr.whiteline {display:block;max-width:75px;margin:20px auto;clear:both;border-top:solid 2px #FFFFFF;}

section.howwedo {background-color:#000;color:#FFF;}
section.howwedo h2 {color:#000;text-shadow: -1px 0 #B30838, 0 1px #B30838, 1px 0 #B30838, 0 -1px #B30838;text-align:left;font-size:45px;letter-spacing:3px;font-weight:700}
section.management {}
section.members {background-color:#000;color:#FFF;}
section.members {color:#000;text-align:left;letter-spacing:3px;}
section.members > .content {overflow:hidden;}


.home-philosophy {max-width:900px;margin:0 auto;padding:40px 0;}
.home-howwedo {max-width:1000px;margin:0 auto;padding:40px 0;}
.home-howwedo .readon {text-align:center;font-size:30px;padding-top:70px;color:#D4D6D6;margin-bottom:0;letter-spacing:3px}
.home-management {max-width:900px;margin:0 auto;padding:40px 0;}
.home-members {max-width:1000px;margin:0 auto;padding:40px 0;}
.home-members h2 {color:#FFF;}


/* TEAM MEMBERS */
.members-wrap .flexslider {background-color:transparent;border:0;margin-top:50px;}
.members-wrap .flexslider h4,.members-wrap .flexslider h5{color:#FFF;text-align:center;}
.members-wrap .flexslider img{max-width:140px;display:block;margin:0 auto;border:solid 3px #B20838;}
.members-wrap .flexslider img:hover{border-color:#FFF;}
.members-wrap .flexslider .slides li a:hover {text-decoration:none;}
.members-wrap .flexslider .flex-direction-nav {color:#FFF;}
.members-wrap .flexslider .flex-direction-nav a {height:80px;opacity:1;width:50px;}
.members-wrap .flexslider .flex-direction-nav a::before{color:#FFF;font-size:60px;font-weight:normal;font-family:'Glyphicons Halflings';content:"\e257"}
.members-wrap .flexslider .flex-direction-nav a.flex-next::before {content:"\e258"}
.members-wrap .flexslider .flex-direction-nav .flex-prev {}
.members-wrap .flexslider .flex-direction-nav .flex-next {}
.members-wrap .flexslider .flex-direction-nav .flex-disabled {opacity:1 !important;color:#FFF;}
.members-wrap .flexslider:hover .flex-direction-nav .flex-prev,.members-wrap .flex-direction-nav .flex-prev {left:-100px;display:none;}
.members-wrap .flexslider:hover .flex-direction-nav .flex-next,.members-wrap .flex-direction-nav .flex-next {right:-100px;display:none;}

.member-info {background:url(../images/member-bg.png) repeat-x 0 0 #D3D6D6 }
.member-info .content {max-width:900px;margin:0 auto;padding-top:40px;padding-bottom:30px;}
.member-info .content img {max-width:250px;border:solid 3px #B20838;margin:0 auto 10px;}
.member-info .member-info-img {margin-bottom:40px;padding-top:25px;}
.member-info .member-info-img .img-wrap {display:block;vertical-align:middle;text-align:center;}
.member-info .member-info-img .name-wrap {display:block;vertical-align:middle;text-align:center;}
.member-info .member-info-img .name-wrap h3 {color:#FFF;margin-top:0;margin-bottom:30px;font-size:22px}
.member-info .member-info-img .name-wrap p {margin-bottom:10px;}
.member-info .member-info-data p{font-size:17px;margin-bottom:30px}

.investment-process {max-width:1200px;margin:0 auto;}
.investment-process .panel{background-color:transparent;border:0;box-shadow:none;}
.investment-process .panel-heading{background-color:transparent;border:0;padding:0 0px;margin:0 50px;max-width:900px;margin:0 auto;display:block;}
.investment-process .panel-body {border:0;background-color:#FFF;margin:30px 0;padding:10px;}
.investment-process .panel-body .inner-content {padding:40px;border:solid 1px #626365;}
.investment-process .panel-body .inner-content h3 {color:#B20838;font-size:23px;letter-spacing:2px;font-weight:300;}
.investment-process .panel-heading .panel-title a {font-size:18px;padding:10px 10px 10px 60px;display:block;background:url(../images/arrow-down.png) no-repeat left center;}
.investment-process .panel-heading .panel-title a.collapsed {background:url(../images/arrow-right.png) no-repeat left center;}

/* FOOTER */
footer {}
footer .footer-social{text-align:center;padding:10px 0 0;border-top:solid 1px #B30838;border-bottom:solid 1px #B30838;color:#B20838;clear:both;}
footer .footer-social p{margin-bottom:12px;}
footer .footer-bottom {padding:15px 35px;height:45px;color:#908D89;font-size:10px;width:100%;max-width:900px;margin:0 auto;}
footer .footer-disclaimer {float:left;}
footer .footer-info {float:right;}
footer .footer-bottom a{color:#908D89}

/* @MEDIA QUERIES */

@media (min-width: 768px) {
	.navbar-toggle {display:none;}
	nav.main-nav {margin-bottom:10px;display:block;}
	nav .main-menu {border-top:solid 1px #B30838;border-bottom:solid 1px #B30838;padding:5px 0;text-align:center;}
	nav .main-menu ul{padding:0;margin:0;}
	nav .main-menu ul li{list-style:none;display:inline-block;width:24%;text-align:center;}
	nav .main-menu ul li a{color:#15191E;}
	nav .main-menu ul li a:hover,nav .main-menu ul li a:focus{color:#B30838;text-decoration:none;}

	
}

@media (min-width: 990px) {
	.navbar-toggle {display:none;}
	nav.main-nav {margin-bottom:10px;display:block;}
	nav .main-menu {border-top:solid 1px #B30838;border-bottom:solid 1px #B30838;padding:5px 0;text-align:center;}
	nav .main-menu ul{padding:0;margin:0;}
	nav .main-menu ul li{list-style:none;display:inline-block;width:24%;text-align:center;}
	nav .main-menu ul li a{color:#15191E;}
	nav .main-menu ul li a:hover,nav .main-menu ul li a:focus{color:#B30838;text-decoration:none;}
	
	.member-info .member-info-img .img-wrap {width:30%;display:inline-block;vertical-align:middle;text-align:left;}
	.member-info .member-info-img .name-wrap {width:65%;display:inline-block;vertical-align:middle;text-align:left;}
	
	footer .footer-bottom {font-size:15px}
	footer .footer-disclaimer {float:left;position:relative;top:-82px;}
	footer .footer-info {float:right;position:relative;top:-82px;}
	
	.members-wrap .flexslider:hover .flex-direction-nav .flex-prev,.members-wrap .flex-direction-nav .flex-prev {display:inline-block;}
	.members-wrap .flexslider:hover .flex-direction-nav .flex-next,.members-wrap .flex-direction-nav .flex-next {display:inline-block;}
	.investment-process .panel-heading .panel-title a {font-size:23px;}
}


@media (min-width: 1200px) {
	.container {max-width:1280px;}

	h2 {font-size:27px;}

}