	<footer>
		<div class="main-footer">
			<div class="footer-social">
				<p>CONNECT WITH US</p>
				<p><a href="#"><img src="images/social-fb.png" alt="Facebook"/></a> <a href="#"><img src="images/social-twitter.png" alt="Facebook"/></a> <a href="#"><img src="images/social-in.png" alt="Facebook"/></a> </p>
				<p class="email">INFOR@ALPHABIT.FUND</p>
			</div>
			<div class="footer-bottom">
				<div class="footer-disclaimer">
					<a href="#">DISCLAIMERS</a>
				</div>
				
				<div class="footer-info">
					<a href="#">ADDITIONAL INFO</a>
				</div>
			</div>
		</div>
	</footer>

</div>



	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/flexslider.min.js"></script>
	<script>
		$(document).ready(function(){
			$('.navbar-toggle').click(function(){
				
			});
		})
	
		$(window).load(function() {
		  $('.flexslider').flexslider({
			animation: "slide",
			animationLoop: true,
			itemWidth: 210,
			itemMargin: 10,
			minItems: 2,
			maxItems: 4,
			controlNav: false
		  });
		});
	
	</script>
</body>
</html>