<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<title>Alphabit Fund Website</title>

	<link rel="shortcut icon" href="images/favicon.png">
	
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/flexslider.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="wrap">
	<header>
		<div class="topbar">
			<div class="container clearfix">
				<div class="pull-left hidden-xs">We outperform Bitcoin, and we do it with less risk</div>
				<div class="pull-right">1.800.000.000</div>
			</div>
		</div>
		<div class="logo-wrap">
			<div class="container text-center">
				<img src="images/alphabit-logo.png" alt="" class="site-logo"/>
				
				<button type="button" class="navbar-toggle visible-xs pull-left">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
		</div>
	</header>
	
	<nav class="main-nav">
		<div class="main-menu">
			<div class="container">
				<ul>
					<li><a href="#">OUR PHILOSOPHY</a></li>
					<li><a href="#">THE STRATEGY</a></li>
					<li><a href="#">TEAM MEMBERS</a></li>
					<li><a href="#">GET IN TOUCH</a></li>
				</ul>
			</div>
		</div>
	</nav>