
	<div class="main-content">

			<section class="main-banner">
				<img src="images/main-banner-bg.jpg" alt="" class="img-responsive" style="width:100%"/>
			</section>
			
			<section class="content arrowed">
				<div class="container">
					<div class="home-philosophy">
						<h2>ALPHABIT PHILOSOPHY</h2>
						<hr class="redline"/>
						<p>At Alphabit, we believe in the Blockchain. We believe in decentralisation. We believe that in time these concept will thrive, and replace archaic centralised entities and fiat currency systems. </p>
						<p>At the forefront of the Blockchain revolution is Bitcoin (BTC).  Through its turbulent early years, it has proven itself to be much more robust than many had thought possible, generating incredible returns, and cementing itself as the de facto benchmark against which all Blockchain assets are measured.</p>
						<p>It is with this in mind, that our objective is to outperform a buy and hold strategy for bitcoin, generating higher returns, with lower volatility than that exhibited by bitcoin itself.</p>
					</div>
				</div>
			</section>
			
			<section class="howwedo content arrowed">
				<div class="container">
					<div class="home-howwedo">
						<h2>WE OUTPERFORM BITCOIN,<br/>AND WE DO IT WITH LESS RISK.</h2>
						
						<p>We blend investment strategies to improve the efficiency frontier of the fund. That means, we generate higher returns per unit of risk than that of Bitcoin.</p>
						<p class="readon">HOW DO WE DO IT? READ ON!</p>
					</div>
			</section>
			
			
			<section class="content arrowed">
				<div class="container">
					<div class="home-management">
						<h2>INVESTMENT MANAGEMENT PROCESS</h2>
						<hr class="redline"/>
						<p>Benchmarked to bitcoin, any position held within the fund which is not bitcoin is an active position.<br/>
						Every active position is taken with a view to it generating a higher return than that of simply holding bitcoin.</p>
						<p>Alphabit generates excess returns over beta (bitcoin market return) via a number of different ways.</p>
					
					</div>
					
					<div class="investment-process ">
					
					
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          ALGORITHMIC TRADING
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="inner-content">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          TOKENISED STARTUP INVESTMENTS
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="inner-content">
			<h3>TOKENISED STARTUP INVESTMENTS</h3>
			<p>Alphabit has a team of highly experienced cryptographic currency investors. We scour the whole of the playing field to identify great companies, great teams, and profitable business models. Once these opportunities are identified, we take a position, always at the most favourable terms.</p>
		</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          FUTURES
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
		<div class="inner-content">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          CASH MANAGEMENT
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="inner-content">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		</div>
      </div>
    </div>
  </div>
</div>
		
					
					</div>
					
			</section>
			
			<section class="members arrowed">
				<div class="content container">
					<div class="home-members">
						<h2>TEAM MEMBERS</h2>
						<hr class="whiteline"/>
						<div class="members-wrap">
							<div class="flexslider">
							  <ul class="slides">
								<li>
								  <div>
									<a href="#">
										<img src="images/Liam-Robertson.jpg" class="img-circle"/>
										<h4>LIAM ROBERTSON<h4>
										<h5>Chief Executive Officer</h5>
									</a>
								  </div>
								</li>
								<li>
								<li>
								  <div>
									<a href="#">
										<img src="images/Liam-Robertson.jpg" class="img-circle"/>
										<h4>LIAM ROBERTSON<h4>
										<h5>Chief Executive Officer</h5>
									</a>
								  </div>
								</li>
								<li>
								  <div>
									<a href="#">
										<img src="images/Liam-Robertson.jpg" class="img-circle"/>
										<h4>LIAM ROBERTSON<h4>
										<h5>Chief Executive Officer</h5>
									</a>
								  </div>
								</li>
								<li>
								  <div>
									<a href="#">
										<img src="images/Liam-Robertson.jpg" class="img-circle"/>
										<h4>LIAM ROBERTSON<h4>
										<h5>Chief Executive Officer</h5>
									</a>
								  </div>
								</li>
								<li>
								  <div>
									<a href="#">
										<img src="images/Liam-Robertson.jpg" class="img-circle"/>
										<h4>LIAM ROBERTSON<h4>
										<h5>Chief Executive Officer</h5>
									</a>
								  </div>
								</li>
								<li>
								  <div>
									<a href="#">
										<img src="images/Liam-Robertson.jpg" class="img-circle"/>
										<h4>LIAM ROBERTSON<h4>
										<h5>Chief Executive Officer</h5>
									</a>
								  </div>
								</li>
								<!-- items mirrored twice, total of 12 -->
							  </ul>
							</div>
						</div>
						


						
					</div>
				</div>
				
				<div class="member-info">	
					<div class="container content">
						<div class="member-info-img">
							<div class="img-wrap">
								<img src="images/Liam-Robertson.jpg" class="img-circle img-responsive"/>
							</div>
							<div class="name-wrap">
								<h3>LIAM ROBERTSON / Chief Executive Officer</h3>
								<p class="info-email">LIAM@ALPHABIT.FUND</p>
								<p class="info-contact">M:  000.000.0000  /  O: 000.000.0000</p>
							</div>
						</div>
						<div class="member-info-data">
							<p>Chartered Financial Analyst (CFA) and Chartered Alternative Investment Analyst (CAIA), Liam holds a degree in Economics from the University of Newcastle-Upon-Tyne. He also holds a Masters in Finance from the University of Durham. </p>
							
							<p>Starting as a Portfolio Manager for UK-based IFA company, Liam quickly moved up to Analyst at a London-based Fund of Investment Trusts. </p>
							
							<p>He has sat on the Yen desk for Light Peak Capital and a Hedge Fund, successfully trading Euros, Yen and Dollar Yen. After successfully increasing his book ve-fold in 18 months, he moved back to private client wealth management.</p>
						</div>	
					</div>
				</div>
			</section>
			
	</div>
